BasicClientServer/Library/AnnotationManager
BasicClientServer/Library/AssetImportState
BasicClientServer/Library/AssetVersioning.db
BasicClientServer/Library/BuildPlayer.prefs
BasicClientServer/Library/BuildSettings.asset
BasicClientServer/Library/EditorSettings.asset
BasicClientServer/Library/EditorUserBuildSettings.asset
BasicClientServer/Library/FailedAssetImports.txt
BasicClientServer/Library/InspectorExpandedItems.asset
BasicClientServer/Library/MonoManager.asset
BasicClientServer/Library/ScriptAssemblies/
BasicClientServer/Library/ScriptMapper
BasicClientServer/Library/TagManager.asset
BasicClientServer/Library/TimeManager.asset
BasicClientServer/Library/assetDatabase3
BasicClientServer/Library/assetservercachev3
BasicClientServer/Library/cache/
BasicClientServer/Library/expandedItems
BasicClientServer/Library/guidmapper
BasicClientServer/Library/metadata/
BasicClientServer/Library/previews/

BasicClientServer/Temp/
*.apk
