<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.alljoyn.jni"
      android:versionCode="141200"
      android:versionName="14.12.00">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="AllJoynAndroidExt">
     <service android:name=".AllJoynAndroidExt" android:enabled="true">
            <intent-filter>
              <action android:name="org.alljoyn.jni.alljoynandroidext" />
            </intent-filter>
	</service>
	<receiver android:name="org.alljoyn.jni.StartServiceReceiver" android:enabled="true" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
	</receiver>
    </application>
</manifest>
