<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alljoyn_c_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>alljoyn_c_osx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>alljoyn_core_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>alljoyn_core_ios_armv7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>alljoyn_core_ios_armv7s.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>alljoyn_core_osx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>alljoyn_streaming_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>alljoyn_streaming_osx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>alljoyn_unity_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>alljoyn_unity_osx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>bastress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>bastress2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>bbclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>bbservice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A441CDF7161F6479008A4779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC01C787152CDCEE00DD620F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC0DC8381519386B000E302F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC0DC84C151A46F0000E302F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC28F56315190B34009C0254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8D8CFE161376FE00361742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC9C214F150E77AC005B83A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC9C2154150E7824005B83A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC9C2C6E15FA9B4C00C60607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA3BC341587FC5E0010F1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA3BC391587FDBC0010F1C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACAD17DB156D532D0065497D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB2C746160B8D9900D7E3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB2C74B160B8EFF00D7E3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB4AFB6150E631F0054D964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB4B4AF150E657F0054D964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB4B4B3150E66520054D964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACBFEDE5156DAA7D008082DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD124FE150FF96400AF6FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACFED7B21624CE2900697423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
