TAGS
LinuxTAGS
build
*build
.sconsign.dblite
*.pdb
.*.swp
.cproject
*.ncb
*.log
*.suo
*.aps
*.user
*.winmd
*.mdf
*.ldf
bin
obj
gen
libs
/installer/osx/AllJoyn/AllJoyn.xcodeproj/project.xcworkspace/xcuserdata/
/daemon/bt_windowsKernel/objchk_win7_amd64/
/daemon/bt_windowsKernel/objchk_win7_x86/
/win8_sdk/AllJoynSDKVSIX/AllJoynSDKVSIX/Redist/
/win8_sdk/AllJoynSDKVSIX/AllJoynSDKVSIX/References/
whitespace.db
