TAGS
LinuxTAGS
build
*build
.sconsign.dblite
*.pdb
.*.swp
.cproject
.project
*.ncb
*.log
*.suo
*.aps
*.user
*.winmd
*.mdf
*.ldf
bin
obj
gen
libs
xcuserdata/*.xcuserdatad/*
/daemon/bt_windowsKernel/objchk_win7_amd64/
/daemon/bt_windowsKernel/objchk_win7_x86/
whitespace.db
cscope.out
