<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC4FF04815A6087D006C2FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB44E5115485F3E00FF7DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB44E6515485F3E00FF7DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
