#Files created or copied by SCons
AllJoynUnity.suo
.sconsign.dblite
build/
docs/html
docs/%SystemDrive%
src/bin
src/obj
src/Status.cs
alljoyn.jar
alljoyn_unity_native.dll
alljoyn_unity_native.exp
alljoyn_unity_native.ilk
alljoyn_unity_native.lib
alljoyn_unity.dll
xunit.dll
whitespace.db
*.so

#Files created by Microsoft Visual Studio
unit_test/AllJoynUnityTest.csproj.user

#Files created by Unity
*.pdb
*.meta
*.exe
*.apk


AnnotationManager
AssetImportState
AssetServerCacheV3
AssetVersioning.db
BuildPlayer.prefs
FailedAssetImports.txt
ScriptAssemblies/
ScriptMapper
assetDatabase3
cache/
expandedItems
guidmapper
metadata/
previews/
ProjectSettings/
Temp/

#chat sample
samples/Unity/Chat/Chat_Data/

#unityPackage
*.unitypackage
package_support/UnityPackage/UnityPackage_Data/

#BasicServer
samples/Unity/BasicServer/BasicServer_Data/

#BasicClient
samples/Unity/BasicClient/BasicClient_Data/
