<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.alljoyn.bus.alljoyn"
    android:versionCode="141200"
    android:versionName="14.12.00">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:debuggable="true"
        android:persistent="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".AllJoynApp">

        <activity
            android:name=".AllJoynActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>    
        </activity>
        
        <service
            android:name="AllJoynService">
            <intent-filter>
                <action android:name="org.alljoyn.bus.START_DAEMON" />            
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>                    
        </service>

    </application>
</manifest> 
